.v-application {
    .v-alert {
        text-align: center;
        border-radius: 2px;
        margin-top: $l-spacer;
        margin-bottom: 0;

        &.error {
            border: 1px solid $clr-red;
        }

        .v-icon {
            display: none;
        }

        &__content {
            color: $clr-blue-minsk !important;
        }

        &.success--text {
            background-color: rgba(78, 224, 117, 0.2) !important;
        }

        &.error--text {
            background-color: rgba(255, 92, 92, 0.2) !important;
        }

        &--nt-info {
            background-color: #F5F4F9 !important;
            border-color: #DDDFE6 !important;

            .v-alert__content {
                color: #A5ADBB !important;
            }
        }
    }
}
