$clr-green:         #08B973;
$clr-white:         #ffffff;
$clr-blue-dark:     #0e2044;
$clr-blue-light:    #4a77fe;
$clr-blue-minsk:    #363a7b;
$clr-grey:          #707070;
$clr-grey-medium:   #E5E5E8;
$clr-grey-darker:   #a5adbb;
$clr-grey-vdark:    #3d3f4b;
$clr-grey-light:    #E9EDF1;
$clr-grey-lightest: #FAFAFC;
$clr-red:           #ff5c5c;
$clr-black:         #262626;
$clr-black-dark:    #221f37;
$clr-grey-mlight:   #d2d1d6;
