// Font-Families
$ff-roboto:         'Roboto', sans-serif;

// Font-Size
$fz-vsmall:         10px;
$fz-small:          12px;
$fz-regular:        14px;
$fz-normal:         16px;
$fz-large:          20px;

// Font-line-height
$flh-regular:       21px;
$flh-semi-small:    16px;
$flh-semi-medium:   1.17;
$flh-medium:        1.33;
$flh-smedium:       1.36;

// Font-letter-spacing
$fls-vsmall:        0.48px;
$fls-msmall:        0.56px;
$fls-small:         0.64px;
$fls-medium:        0.8px;

// Font Weight
$fw-regular:        400;
$fw-semi-bold:      500;
$fw-bold:           700;
